select#runSelect.form-control
  option New Run
  for run in timer.runs
    if timer.selectedRun == run.name
      option(value='#{run.name}' selected='selected')= run.name
    else
      option(value='#{run.name}')= run.name
