extends ../layout/application

block content
  .row
    .col-lg-4
      .panel.panel-default
          .panel-heading
            h3.panel-title Run settings
          .panel-body
            input#fileInput(type='file', style='visibility: hidden;')
            form(role='form')
              .form-group
                label(for='gameSelect') Select Game
                include gameSelect
              .form-group
                label(for='runSelect') Select Run
                include runSelect
                
    .col-lg-8
      .panel.panel-default
        .panel-heading#runName Timer
        div#splits
          include splits

  script(src='/javascript/timerInit.js')              
